* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(45deg, #cf62f0, #fffde7);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(187, 130, 130);
    background-color: #fff;
    #display {
        color: #0a1e23;
        margin: 0 10px;
        height: 120px;
        width: auto;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    #equal {
        height: 130px;
    }

    .button#clear {
        background-color: #ffd5d8;
    }
    .btn-number {
        background-color: #c3eaff;
        color: #000;
    }
    .btn-operator {
        background-color: #ffd0fb;
        color: #f06291;
    }
    .btn-equal {
        background-color: #adf9e7;
        color: #000;
    }
    /* dark theme */
    &.dark {
        background-color: #383838;
        #display {
            color: #e0dede;
        }

        #clear {
            background-color: #ff9b9b;
            color: #f8f8f8;
        }

        #number {
            background-color: #a4ffb3;
            color: #442727;
            font-weight: 600;
        }

        #btn-operator {
            background-color: #ffe84c;
            color: #ff4d6a;
        }

        #equal {
            background-color: #ff7262;
            color: #fff;
        }
    }
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        height: 30px;
        width: 30px;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #f06291;
        z-index: -1;
    }
}
.theme-toggler.active {
    color: #fff;
    &::before {
        background-color: #ff7262;
    }
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
        transform: scale(1.1);
    }
}
